.home {

    display: flex;
    margin: 30vh auto;
    justify-content: space-between;
    width: 80%;
    align-items: center;


}


.welcome-msg {
    display: flex;
    flex-direction: column;
    user-select: none;
}

.subtitle {
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.main-title {
    font-family: var(--font-secondary);
    letter-spacing: 2px;
    font-size: clamp(3.4rem, 7.5vw, 7.5rem);
}

.contact-shortcuts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

ul {
    list-style: none;
}

.contact-link {
    color: var(--text-color);
    background-color: var(--secondary-color);
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s ease-in-out;
}

.contact-link:hover {
    background-color: #839cd9;
}

.contact-icon {
    position: relative;
}

.map {
    opacity: 0;
    transform: scale(4);
    display: block;
    position: absolute;
    left: -260%;
    transition: opacity .3s ease-in;
}

.contact-icon:hover > .map {
    opacity: .3;
}


@media only screen and (max-width: 600px) {
    .home {
        margin: 12em 2em;
        flex-direction: column;
    }

    .welcome-msg {
        gap: 1em;
        text-align: center;
    }

    .contact-shortcuts {
        margin-top: 3.5em;
        flex-direction: row;
    }

    .contact-icon:hover > .map {
        opacity: 0;
    }
}