.home {

    display: flex;
    margin: 11em auto;
    justify-content: space-around;
    gap: 1em;
    align-items: center;
}

.welcome-msg {
    display: flex;
    flex-direction: column;
}

.subtitle {
    font-size: clamp(1rem, 1.5vw, 4rem);
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.main-title {
    font-family: var(--font-secondary);

    font-size: clamp(3.4rem, 7.5vw, 7.5rem);
}

.contact-shortcuts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

ul {
    list-style: none;
}

.contact-link {
    color: var(--text-color);
    background-color: var(--secondary-color);
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s ease-in-out;
}

.contact-link:hover {
    background-color: #839cd9;
}


@media only screen and (max-width: 600px) {
    .home {
        margin: 5em 2em;
        flex-direction: column;
    }
    .welcome-msg {
        gap: 1em;
        text-align: center;
    }
    .contact-shortcuts {
        margin-top: 2em;
        flex-direction: row;
    }
}