
.links {
    background-color: var(--secondary-color);
    display: flex;
    width: clamp(31rem, 65vw, 45rem);
    border-radius: 35px;
    padding-inline: 1.5em;
    justify-content: space-between;
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);


}

.links a {

    font-size: clamp(1.1rem, 1.7vw, 1.4rem);
    color: var(--text-color);
    text-transform: uppercase;
    padding: 1em;
    font-weight: 300;
    transition: box-shadow .2s ease-in-out;
    overflow: hidden;
}

.links a:hover {
    box-shadow: inset 1px -12px 0 -4px var(--secondary-color-hover);
}

/*TODO: MAKE NAVBAR NOT ABSOLUTE POSITIONED*/

@media only screen and (max-width: 600px) {
    .links{
        display: none;
    }
}