.toggleButton button {
    padding: 1em 2em;
    border: none;
    border-radius: 35px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-family: var(--font-primary);
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 1px;
    cursor: pointer;
}

.toggleButton {
    display: flex;
    align-items: center;
    justify-content: center;

}

.links {
    background-color: var(--secondary-color);
    display: flex;
    width: clamp(31rem, 65vw, 45rem);
    border-radius: 35px;
    padding-inline: 1.5em;
    justify-content: space-between;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);


}

.links a {

    font-size: clamp(1.1rem, 1.7vw, 1.4rem);
    color: var(--text-color);
    text-transform: uppercase;
    padding: 1em;
    font-weight: 300;
    transition: box-shadow .2s ease-in-out;
    overflow: hidden;
}

.links a:hover {
    box-shadow: inset 1px -12px 0 -4px var(--secondary-color-hover);
}

#open {
    height: 100vh;
    background-color: var(--secondary-color);

}

#open .links {
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 16em;
    padding-top: 10em;
    gap: 2em;

}

#open a {
    width: 100%;
    text-align: center;

}


/*TODO: MAKE NAVBAR NOT ABSOLUTE POSITIONED*/

@media only screen and (max-width: 600px) {
    .toggleButton {
        display: flex
    }

    #close a {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .toggleButton {
        display: none;
    }

    #open {
        height: 100px;
    }

    #open .links {
        flex-direction: row;
    }
}


@media only screen and (max-height: 600px) {
    .links {
        display: none;
    }
}