.toggleButton button {
    padding: .7em 2em;
    border: none;
    border-radius: 35px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-family: var(--font-primary);
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 1px 1px 10px 4px rgba(78, 123, 222, 0.11);
}

.toggleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 2em;

}

.links {
    margin-block: 2em;
    background-color: var(--secondary-color);
    display: flex;
    width: clamp(31rem, 65vw, 45rem);
    border-radius: 35px;
    padding-inline: 1.5em;
    justify-content: space-between;

    box-shadow: 1px 1px 10px 4px rgba(78, 123, 222, 0.11);

}

.links a {

    font-size: clamp(1.1rem, 1.7vw, 1.4rem);
    color: var(--text-color);
    text-transform: uppercase;
    padding: 1em;
    font-weight: 300;
    transition: box-shadow .2s ease-in-out;
    overflow: hidden;
}

.links a:hover {
    box-shadow: inset 1px -12px 0 -4px var(--secondary-color-hover);
}

#open {

    background-color: var(--secondary-color);
    z-index: 99;
    position: fixed;
    bottom: 0;
    top: 0;
}

#open .links {

    flex-direction: column;
    justify-content: flex-start;
    margin-top: 16em;

    gap: 2em;

}

#open a {
    width: 100%;
    text-align: center;

}


@media only screen and (max-width: 600px) {
    .toggleButton {
        display: flex
    }

    .links {
        box-shadow: none;
    }

    #close a {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .toggleButton {
        display: none;
    }

    #open .links {
        flex-direction: row;
    }
}


@media only screen and (max-height: 600px) {
    .links {
        display: none;
    }
}