@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Catamaran:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');
:root {
    --primary-color: #22242A;
    --secondary-color: #363f5b;

    --primary-color-hover: hsl(225, 11%, 36%);
    --secondary-color-hover: #1e273a;

    --text-color: #DBEFED;
    --text-color-fff: #FFFFFF;

    /*--font-primary: 'Catamaran', sans-serif;*/
    --font-primary: 'Quicksand', sans-serif;
    --font-secondary: 'Black Ops One', cursive;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);

    text-rendering: optimizeSpeed;
    background: #22242A;
    max-height: 100vh;
    color: var(--text-color);

    background: linear-gradient(122deg, #22242a, #282e3d);
    background-size: 400% 400%;

    -webkit-animation: backgroundGradient 5s ease infinite;
    -moz-animation: backgroundGradient 5s ease infinite;
    animation: backgroundGradient 5s ease infinite;


}

img,
picture {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}


#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;


}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 100vh;
    overflow-x: hidden;
}

@media only screen and (max-width: 600px) {

}


@-webkit-keyframes backgroundGradient {
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}
@-moz-keyframes backgroundGradient {
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}
@keyframes backgroundGradient {
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}
