@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Catamaran:wght@300;400;700&display=swap');

:root {
    --primary-color: #22242A;
    --secondary-color: #363f5b;

    --primary-color-hover: hsl(225, 11%, 36%);
    --secondary-color-hover: #1e273a;

    --text-color: #DBEFED;
    --text-color-fff: #FFFFFF;

    --font-primary: 'Catamaran', sans-serif;
    --font-secondary: 'Black Ops One', cursive;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);

    text-rendering: optimizeSpeed;
    background: #22242A;

    background: -moz-linear-gradient(45deg, #22242A 0%, #363F5B 100%);
    background: -webkit-linear-gradient(45deg, #22242A 0%, #363F5B 100%);
    background: linear-gradient(45deg, #22242A 0%, #2a3248 100%);
    color: var(--text-color)

}

img,
picture {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}


#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;


}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}

@media only screen and (max-width: 600px) {

}

